NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c2V0dGxpbmctY2hlZXRhaC0zOS5jbGVyay5hY2NvdW50cy5kZXYk
NEXT_PUBLIC_PADDLE_ENVIRONMENT=sandbox
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=your_paddle_client_token
NEXT_PUBLIC_PADDLE_STARTER_MONTHLY_PRICE_ID=pri_starter_monthly
NEXT_PUBLIC_PADDLE_STARTER_YEARLY_PRICE_ID=pri_starter_yearly
NEXT_PUBLIC_PADDLE_PRO_MONTHLY_PRICE_ID=pri_pro_monthly
NEXT_PUBLIC_PADDLE_PRO_YEARLY_PRICE_ID=pri_pro_yearly
NEXT_PUBLIC_PADDLE_POWER_MONTHLY_PRICE_ID=pri_power_monthly
NEXT_PUBLIC_PADDLE_POWER_YEARLY_PRICE_ID=pri_power_yearly

